/* UNIVERSAL STYLES */

/* Navigation left side */

*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select{
    font-size: 1rem;
    padding: 0.15em 6em 0.15em 1em;
    width: 100%;
    background-color: #009870;
    color: #fff;
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid
}   

select:hover{
    background-color: #009885;
}

.dropDownMenus label{
    color: #fff;
    padding: 5em 1em;
    
}

.wrapper{
    display: flex;
    height: 100%;
}

.wrapper .sidebar{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #009870;
    padding: 30px 0;
    align-items: center;
}

.wrapper .sidebar h1, h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: #fff 1px solid;
}

.wrapper .sidebar h3{
    color: #fff;
    text-align: center;
}

.dropDownMenus{
    position: relative;
    text-align: left;
    padding: 1em 0;
}

.question-info-box{
    padding: 1% 10% 1% 1em;
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    color: #fff;
    height: fit-content;
    text-align: left;
    min-width: 100%;

}


/* Body section */

#difficultyDropDown{
  backface-visibility: hidden;
  background-color: #009870;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat ,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
}

.question-container {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    text-align: left;
    position: relative;
    
}

.buttons-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    padding: 1%;
}

.difficultyContainer {
    text-align: center;
}

.solution-box {
    color: red;
    display: none;
    padding: 1% 10% 1% 1%;
    border:#009870 1px solid;
    height: 100%;
    width: 99%;
    margin: 1% 1%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.question-box {
    padding: 1% 10% 1% 1%;
    border: #009870 1px solid;
    width: 99%;
    height: 100%;
    margin: 1% 1%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.questionSolutionContainer {
    padding: 1%;
    width: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
}

.button{
  appearance: none;
  backface-visibility: hidden;
  background-color: #009870;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat ,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
}
.button:hover {
  background-color: #009885;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


