/* UNIVERSAL STYLES */

*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav top*/

nav {
    width: 100%;
    height: 70px;
    background-color: #009870;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: fixed;
    z-index: 10;
    border-bottom: #fff 1px solid;
}

nav ul {
    float: right;
    padding: 0 100px 0 0;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    color: #fff;
    font-size: 1rem;
    padding: 25px 15px;
    display: block;    
}

nav ul li ul {
    display: none;
    position: absolute; 
    background-color: #009870;
    border-radius: 0 0 10px 10px;
    padding: 0;   
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 200px;  
    border-radius: 0 0 10px 10px;
}

nav ul li ul li a {
    padding: 12px 15px;
}

nav ul li ul li a:hover {
    background-color: #009885;
    border-radius: 0 0 10px 10px;  
}

nav h1 a{
    color: #fff;
}

#logoHomeTitle{
    color:#fff;
    float: left;
    text-transform: uppercase;
    padding: 25px 14px;

}



/* Nav Sidebar */

select{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.15em 6em 0.15em 1em;
    width: 100%;
    background-color: #009870;
    color: #fff;
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid
}   

select option{
    font-weight: 600;
}

select:hover{
    background-color: #009885;
}

.dropDownMenus label{
    color: #fff;
    padding: 5em 1em;
    
}

.wrapper{
    display: block;
    height: 100%;
    margin-top: 50px;
}

.wrapper .sidebar{
    position: fixed;
    width: 315px;
    height: 100%;
    background-color: #009870;
    padding: 30px 0;
    align-items: center;
    
}

.wrapper .sidebar a{
    text-decoration: none;
    color: #fff;
}

.wrapper .sidebar h1, h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: #fff 1px solid;
}

.wrapper .sidebar h3{
    color: #fff;
    text-align: center;
}

.dropDownMenus{
    position: relative;
    text-align: left;
    padding: 1em 0;
}

.dropDownMenus p{
    padding: 0.5em 1em;
    color: #fff;
}

.geometryMeasuresTopics{
    display: none;
}

.numberTopics{
    display: none;
}

.algebraTopics{
    display: none;
}

.ratioTopics{
    display: none;
}

.probabilityTopics{
    display: none;
}

.question-info-box{
    padding: 1% 10% 1% 1em;
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    color: #fff;
    height: fit-content;
    text-align: left;
    min-width: 100%;
}

.tableinfo{
    border: none;
    border-collapse: none;
    display: none;
    table-layout: fixed;
    width: 100%;
    font-size: 1em;
    white-space: pre-line;
    line-height: 1.5;
}
.tableinfo th{
    border: none;
    text-align: right;
}
.tableinfo td{
    border: none;
    text-align: left;
}


/* Body section */

#difficultyDropDown{
  backface-visibility: hidden;
  background-color: #009870;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat ,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
}

.question-container {
    width: calc(100%-315px);
    height: 100%;
    margin-left: 315px;
    text-align: left;
    position:relative;
}

.buttonsAndPrintingContainer {
    width: 100%;
    display: inline-flex;
    outline: #009870 1px solid;
    line-height: 2em;

}

.buttons-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    padding: 1%;
}

.difficultyContainer {
    text-align: center;
    width: 100%;
    padding: 1%;
}


.solution-box {
    color: red;
    display: none;
    padding: 1% 10% 1% 1%;
    border:#009870 1px solid;
    height: fit-content;
    width: 99%;
    margin: 1% 1%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.question-box {
    padding: 1% 10% 1% 1%;
    border: #009870 1px solid;
    width: 99%;
    height: fit-content;
    margin: 1% 1%;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.questionSolutionContainer {
    padding: 1%;
    width: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
}

.button{
  appearance: none;
  backface-visibility: hidden;
  background-color: #009870;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat ,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
}
.button:hover {
  background-color: #009885;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

/* Printing worksheet styling***************************************
********************************************************************/

.numberOfQuestionsInput{
    display: block;
    color: #fff;
    padding: 1em;
    border-bottom: #fff 1px solid;
    border-top: #fff 1px solid;
}

.numberOfQuestionsInput label{
    float: left;
}

.numberOfQuestionsInput input{
    float: right;
    width: 5em;
    color: #fff;
    background-color: #009870;
    border: #fff 1px solid;
}

.labelsAndInputsContainer{
    display: block;
    padding: 5px;
}
.rows{
    padding: 0.2em;
}

.previewPanelContainer{
    width: calc(100%-315px);
    height: 100%;
    margin-left: 315px;
    position: relative;
    padding: 50px;
    line-height: 2;
    
}

.previewPanelContainer h2{
    color: #009870;
    text-align: center;
}

#BSGHeadings{
    color: #009870;
    text-transform: uppercase;
    text-align: center;
}

.previewBoxQContainer{
    border: 1px solid #009870;
}

.previewBoxQ{
    padding: 30px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.buttonsRow{
    text-align: center;
}

.previewBoxSolution{
    padding: 30px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.solutionsContainer{
    display: block;
    border: 1px solid #009870;
    
}

.answerLine{
    width: 400px;
    height: 1px;
    border-bottom: 5px dotted #009870;
    float: right;
    color: #009870;
    text-align: right;
    
}

#marksGiven{
    padding: 10px;
}

#banSign{
    color: red;
    opacity: 0.5;
}

#checkSign{
    color: green;
}

.questionNumber{
    color: #009870;
    font-weight: bolder;
}